
<div class="page-area">
<div class="row">
    <div class="col-md-12">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/laptop - Copy.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Laptop</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="laptop" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../assets/tel.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Television</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="television" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../assets/mobile.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mobile</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink = "mobile" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    
</div>
</div>
